* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
}


/*Pensar em algo melhor*/
body {
    background-color: #B0C4DE;
    margin-top: 13%;
}

.toDo-container {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px 10px;
    color: #B0C4DE;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 15px;
}

.header {
    margin: 15px;
    font-size: 1em;
}

.inputArea {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;

}

.inputArea .input-item {
    padding: 7px;
    border-radius: 5px;
    border: none;
    border: 2px solid rgb(82, 82, 82);
}

.inputArea .input-Button {
    border-radius: 5px;
    padding: 0px 10px;
    background-color: #1E90FF;
    border: none;
    font-weight: 600;
    cursor: pointer;
}

.input-Button:hover{
    background-color: #00008B;
    color: #fff;
    transition: 1.5s ease;
}

h2 {
    font-size: 1.2em;
}

.noTasks {
    color: #f2ff7c;
    margin: 15px;
    font-size: 0.9em;
}

.counter-container {
    border-top: 1px solid #B0C4DE;
    padding: 5px;
    margin-top: 5px;
}


/*Quando marcar a lista como concluida*/
.completed {
  text-decoration: line-through;
  color: gray;
}